extends ./layouts/app.pug 

block content   
  
  ul 
    li 
      a(href='/some') Some data 
    li 
      a(href='/posts') Add new note in db
    li 
      a(href='/screen') Show data in table  
    li 
      a(href='/del') Delete note from table 
    li 
      a(href='/retrieve') Simple input-output  