extends ./layouts/app.pug 

block content   
  
  ul     
    li 
      a(href='/posts') Add new note in db (/posts)
    li 
      a(href='/screen') Show data in table (/screen)
    li 
      a(href='/del') Delete note from table (/del)
    li 
      a(href='/update') Update the country of note (/update)  
    li 
      a(href='/retrieve') Simple input-output (/retrieve)