extends ../layouts/app.pug 

block content 
  form(action='/del' method='post')
    div 
      p enter the name or id you want to remove
        input(type="text" name="input" value=note.input)
      p Check if Id 
        input(type="radio" name="type" value="id")
      p Check if Name 
        input(type="radio" name="type" value="name")
      p
        input(type="submit" name="Send")