extends ../layouts/app.pug 

block content  

  p add new note in table

    form(action='/posts' method='post')
      div 
        label
          | name
        input(type="text" name="name" value=form.name)              
        label 
          | gender
        input(type="text" name="gender" value=form.gender)
        label 
          | email 
        input(type="text" name="email" value=form.email)  
        label 
          | country 
        input(type="text" name="country" value=form.country)  
      p 
        input(type="submit" value='Send')